In [1]:
# Dependencies and Setup (Honestly I copy and pasted these and won't use all of them)
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
import scipy.stats as sts
from datetime import date
from scipy.stats import linregress

# May need to run pip install pycountry
import pycountry   #https://pypi.org/project/pycountry/#description

In [11]:
countries = list(pycountry.countries)
countries[0]

Country(alpha_2='AW', alpha_3='ABW', name='Aruba', numeric='533')

In [21]:
country_alpha_2 = []
country_alpha_3 = []
country_name = []
country_numeric = []

for i in countries:
    country_alpha_2.append(i.alpha_2)
    country_alpha_3.append(i.alpha_3)
    country_name.append(i.name)
    country_numeric.append(i.numeric)
    
    country_dict = {
        'Country': country_name,
        '2 Letter Alpha Code': country_alpha_2,
        '3 Letter Alpha Code': country_alpha_3,
        'Numeric Country Code': country_numeric
    }

In [27]:
country_df = pd.DataFrame(country_dict)

In [28]:
country_df

,Country,2 Letter Alpha Code,3 Letter Alpha Code,Numeric Country Code
0,Aruba,AW,ABW,533
1,Afghanistan,AF,AFG,004
2,Angola,AO,AGO,024
3,Anguilla,AI,AIA,660
4,Åland Islands,AX,ALA,248
...,...,...,...,...
244,Samoa,WS,WSM,882
245,Yemen,YE,YEM,887
246,South Africa,ZA,ZAF,710
247,Zambia,ZM,ZMB,894
248,Zimbabwe,ZW,ZWE,716

In [29]:
country_df.to_csv('country_data.csv')