In [10]:
import pandas as pd
import os

In [8]:
url = "https://data.oecd.org/eduatt/population-with-tertiary-education.htm#indicator-chart"
path = "Raw Data/education_data.csv"
education_raw_data = pd.read_csv(path)
education_raw_data.head(10)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS    EDUTRY   25_34  PC_AGE         A  2015  48.466274         NaN
1      AUS    EDUTRY   25_34  PC_AGE         A  2016  49.305210         NaN
2      AUS    EDUTRY   25_34  PC_AGE         A  2017  51.989063         NaN
3      AUS    EDUTRY   25_34  PC_AGE         A  2018  51.393173         NaN
4      AUS    EDUTRY   25_34  PC_AGE         A  2019  52.478458         NaN
5      AUT    EDUTRY   25_34  PC_AGE         A  2015  38.626846         NaN
6      AUT    EDUTRY   25_34  PC_AGE         A  2016  39.671021         NaN
7      AUT    EDUTRY   25_34  PC_AGE         A  2017  40.324657         NaN
8      AUT    EDUTRY   25_34  PC_AGE         A  2018  40.458271         NaN
9      AUT    EDUTRY   25_34  PC_AGE         A  2019  41.610401         NaN

In [12]:
# data shows population with tertiary education as a percent in the same age group
# drop columns we don't need to keep
education_df = education_raw_data.drop(columns=["INDICATOR", "MEASURE", "FREQUENCY", "Flag Codes"])
education_df.head()

  LOCATION SUBJECT  TIME      Value
0      AUS   25_34  2015  48.466274
1      AUS   25_34  2016  49.305210
2      AUS   25_34  2017  51.989063
3      AUS   25_34  2018  51.393173
4      AUS   25_34  2019  52.478458