In [1]:
import pandas as pd
import os
import pycountry
import pymongo

In [24]:
# load weather data
path = "../Cleaned Data/global_weather_data.csv"
weather_df = pd.read_csv(path)
weather_df = weather_df.drop(columns="Unnamed: 0")
weather_df.head()

,Country,Lat,Lon,Temperature,"""Feels Like""",Precipitaion,Cloudiness,Visiblity,Wind Speed,Local Time
0,Aruba,12.517,-70.033,79,84,0.0,25,6,11,11/16/2020 21:22
1,Afghanistan,34.517,69.183,30,28,0.0,0,4,2,11/17/2020 5:52
2,Angola,-8.838,13.234,77,81,0.0,50,6,8,11/17/2020 2:22
3,Anguilla,18.217,-63.050,79,82,0.0,50,6,11,11/16/2020 21:22
4,United States,25.784,-80.134,79,81,0.0,25,10,6,11/16/2020 20:22

In [25]:
# load population density and english speaking data
path = "../Cleaned Data/population_density_and_english_speaking.csv"
population_english_data_df = pd.read_csv(path)
population_english_data_df = population_english_data_df.drop(columns="Unnamed: 0")
population_english_data_df.head()

,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers,Land_Area,Population_Density
0,United States,296603003,283160411,0.954678,9161923.0,32.373444
1,India,1028737436,125344737,0.121843,2973190.0,346.004607
2,Pakistan,188400100,108036049,0.573439,778720.0,241.935612
3,Nigeria,156493000,79000000,0.504815,910768.0,171.825317
4,Philippines,110000000,64025890,0.582054,298170.0,368.917061

In [26]:
# PISA data
path = "../Cleaned Data/PISA.csv"
pisa_df = pd.read_csv(path)
pisa_df = pisa_df.drop(columns="Unnamed: 0")
pisa_df.head()

     Country country_code       score
0    Albania          ALB  419.792538
1  Argentina          ARG  395.009457
2  Australia          AUS  498.985437
3    Austria          AUT  491.038441
4    Belarus          BLR  472.305757

In [31]:
# World Happiness report data
path = "../Cleaned Data/WHR20.csv"
happiness_index_df = pd.read_csv(path)
happiness_index_df = happiness_index_df.drop(columns=["Standard error of ladder score","upperwhisker","lowerwhisker","Ladder score in Dystopia","Explained by: Log GDP per capita","Explained by: Social support","Explained by: Healthy life expectancy","Explained by: Freedom to make life choices","Explained by: Generosity","Explained by: Perceptions of corruption","Explained by: Perceptions of corruption"])
happiness_index_df.head()

,Country,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,2.762835
1,Denmark,Western Europe,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2.432741
2,Switzerland,Western Europe,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2.350267
3,Iceland,Western Europe,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2.460688
4,Norway,Western Europe,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2.168266

In [21]:
# Hours worked data
path = "../Cleaned Data/Standard workweek.csv"
work_hours_df = pd.read_csv(path)
work_hours_df.head()

                    Country    Amount  Date
0                Seychelles  55 hours  2014
1  Central African Republic  52 hours  2014
2                     Kenya  52 hours  2014
3               Switzerland  50 hours  2014
4                  Ethiopia  48 hours  2014

In [50]:
# creating mongo connection
client = pymongo.MongoClient("mongodb://DVGroup3:sealab2021@cluster0-shard-00-00.g3kws.mongodb.net:27017,cluster0-shard-00-01.g3kws.mongodb.net:27017,cluster0-shard-00-02.g3kws.mongodb.net:27017/happiness?ssl=true&replicaSet=atlas-183d98-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.happiness

In [51]:
# finalize table names here to be loaded into mongo
weather = weather_df.copy().set_index("Country").to_dict()
population_english = population_english_data_df.copy().set_index("Country").to_dict()
pisa = pisa_df.copy().set_index("Country").to_dict()
happiness = happiness_index_df.copy().set_index("Country").to_dict()
work = work_hours_df.copy().set_index("Country").to_dict()

In [54]:
# load tables into mongo
# db.weather.insert(weather)
# db.population_english.insert(population_english)
# db.pisa.insert(pisa)
# db.happiness.insert(happiness)
# db.work.insert(work)