In [2]:
import pandas as pd
import os
import pycountry
import pymongo

In [3]:
# load weather data
path = "../Cleaned Data/global_weather_data.csv"
weather_df = pd.read_csv(path)
weather_df = weather_df.drop(columns="Unnamed: 0")
weather_df.head()

,Country,Lat,Lon,Temperature,"""Feels Like""",Precipitaion,Cloudiness,Visiblity,Wind Speed,Local Time
0,Aruba,12.517,-70.033,79,84,0.0,25,6,11,11/16/2020 21:22
1,Afghanistan,34.517,69.183,30,28,0.0,0,4,2,11/17/2020 5:52
2,Angola,-8.838,13.234,77,81,0.0,50,6,8,11/17/2020 2:22
3,Anguilla,18.217,-63.050,79,82,0.0,50,6,11,11/16/2020 21:22
4,United States,25.784,-80.134,79,81,0.0,25,10,6,11/16/2020 20:22

In [4]:
# load population density and english speaking data
path = "../Cleaned Data/population_density_and_english_speaking.csv"
population_english_data_df = pd.read_csv(path)
population_english_data_df = population_english_data_df.drop(columns="Unnamed: 0")
population_english_data_df = population_english_data_df.dropna()
population_english_data_df.head()

,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers,Land_Area,Population_Density
0,United States,296603003,283160411,0.954678,9161923.0,32.373444
1,India,1028737436,125344737,0.121843,2973190.0,346.004607
2,Pakistan,188400100,108036049,0.573439,778720.0,241.935612
3,Nigeria,156493000,79000000,0.504815,910768.0,171.825317
4,Philippines,110000000,64025890,0.582054,298170.0,368.917061

In [5]:
# PISA data
path = "../Cleaned Data/PISA.csv"
pisa_df = pd.read_csv(path)
pisa_df = pisa_df.drop(columns="Unnamed: 0")
pisa_df.head()

     Country country_code       score
0    Albania          ALB  419.792538
1  Argentina          ARG  395.009457
2  Australia          AUS  498.985437
3    Austria          AUT  491.038441
4    Belarus          BLR  472.305757

In [6]:
# World Happiness report data
path = "../Cleaned Data/Happiness_index_lat_longs.csv"
happiness_index_df = pd.read_csv(path)
happiness_index_df = happiness_index_df.drop(columns=["Standard error of ladder score","upperwhisker","lowerwhisker","Ladder score in Dystopia","Explained by: Log GDP per capita","Explained by: Social support","Explained by: Healthy life expectancy","Explained by: Freedom to make life choices","Explained by: Generosity","Explained by: Perceptions of corruption","Explained by: Perceptions of corruption"])
happiness_index_df = happiness_index_df.dropna()
happiness_index_df.head()

,Country,Latitude,Longitude,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
0,Finland,61.924110,25.748151,Western Europe,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,2.762835
1,Denmark,56.263920,9.501785,Western Europe,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2.432741
2,Switzerland,46.818188,8.227512,Western Europe,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2.350267
3,Iceland,64.963051,-19.020835,Western Europe,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2.460688
4,Norway,60.472024,8.468946,Western Europe,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2.168266

In [7]:
# Hours worked data
path = "../Cleaned Data/Standard workweek.csv"
work_hours_df = pd.read_csv(path)
work_hours_df["Amount"] = work_hours_df["Amount"].str.extract('(\d+)', expand=False)
work_hours_df["Amount"] = work_hours_df["Amount"].astype(int)
work_hours_df = work_hours_df.rename(columns={"Amount":"Hours"})
work_hours_df.head()

                    Country  Hours  Date
0                Seychelles     55  2014
1  Central African Republic     52  2014
2                     Kenya     52  2014
3               Switzerland     50  2014
4                  Ethiopia     48  2014

In [8]:
# creating mongo connection
client = pymongo.MongoClient("mongodb://DVGroup3:sealab2021@cluster0-shard-00-00.g3kws.mongodb.net:27017,cluster0-shard-00-01.g3kws.mongodb.net:27017,cluster0-shard-00-02.g3kws.mongodb.net:27017/happiness?ssl=true&replicaSet=atlas-183d98-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.happiness

In [17]:
# creating test join table 
master_table = happiness_index_df.merge(pisa_df)
master_table = master_table.merge(work_hours_df)
master_table = master_table.merge(weather_df)
master_table = master_table.merge(population_english_data_df)
master_table = master_table.dropna()
len(master_table)

80

In [19]:
# finalize table names here to be loaded into mongo
weather = weather_df.copy().to_dict(orient="records")
population_english = population_english_data_df.copy().to_dict(orient="records")
pisa = pisa_df.copy().to_dict(orient="records")
happiness = happiness_index_df.copy().to_dict(orient="records")
work = work_hours_df.copy().to_dict(orient="records")
master = master_table.copy().to_dict(orient="records")

In [20]:
# load tables into mongo
# db.weather.insert(weather)
# db.population_english.insert(population_english)
# db.pisa.insert(pisa)
# db.happiness.insert(happiness)
# db.work.insert(work)
# db.master.insert(master)

C:\Users\rdgg3\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  import sys

[ObjectId('5fc2adff176817ae914f93db'),
 ObjectId('5fc2adff176817ae914f93dc'),
 ObjectId('5fc2adff176817ae914f93dd'),
 ObjectId('5fc2adff176817ae914f93de'),
 ObjectId('5fc2adff176817ae914f93df'),
 ObjectId('5fc2adff176817ae914f93e0'),
 ObjectId('5fc2adff176817ae914f93e1'),
 ObjectId('5fc2adff176817ae914f93e2'),
 ObjectId('5fc2adff176817ae914f93e3'),
 ObjectId('5fc2adff176817ae914f93e4'),
 ObjectId('5fc2adff176817ae914f93e5'),
 ObjectId('5fc2adff176817ae914f93e6'),
 ObjectId('5fc2adff176817ae914f93e7'),
 ObjectId('5fc2adff176817ae914f93e8'),
 ObjectId('5fc2adff176817ae914f93e9'),
 ObjectId('5fc2adff176817ae914f93ea'),
 ObjectId('5fc2adff176817ae914f93eb'),
 ObjectId('5fc2adff176817ae914f93ec'),
 ObjectId('5fc2adff176817ae914f93ed'),
 ObjectId('5fc2adff176817ae914f93ee'),
 ObjectId('5fc2adff176817ae914f93ef'),
 ObjectId('5fc2adff176817ae914f93f0'),
 ObjectId('5fc2adff176817ae914f93f1'),
 ObjectId('5fc2adff176817ae914f93f2'),
 ObjectId('5fc2adff176817ae914f93f3'),
 ObjectId('5fc2adff176817ae914f93f4'),
 ObjectId('5fc2adff176817ae914f93f5'),
 ObjectId('5fc2adff176817ae914f93f6'),
 ObjectId('5fc2adff176817ae914f93f7'),
 ObjectId('5fc2adff176817ae914f93f8'),
 ObjectId('5fc2adff176817ae914f93f9'),
 ObjectId('5fc2adff176817ae914f93fa'),
 ObjectId('5fc2adff176817ae914f93fb'),
 ObjectId('5fc2adff176817ae914f93fc'),
 ObjectId('5fc2adff176817ae914f93fd'),
 ObjectId('5fc2adff176817ae914f93fe'),
 ObjectId('5fc2adff176817ae914f93ff'),
 ObjectId('5fc2adff176817ae914f9400'),
 ObjectId('5fc2adff176817ae914f9401'),
 ObjectId('5fc2adff176817ae914f9402'),
 ObjectId('5fc2adff176817ae914f9403'),
 ObjectId('5fc2adff176817ae914f9404'),
 ObjectId('5fc2adff176817ae914f9405'),
 ObjectId('5fc2adff176817ae914f9406'),
 ObjectId('5fc2adff176817ae914f9407'),
 ObjectId('5fc2adff176817ae914f9408'),
 ObjectId('5fc2adff176817ae914f9409'),
 ObjectId('5fc2adff176817ae914f940a'),
 ObjectId('5fc2adff176817ae914f940b'),
 ObjectId('5fc2adff176817ae914f940c'),
 ObjectId('5fc2adff176817ae914f940d'),
 ObjectId('5fc2adff176817ae914f940e'),
 ObjectId('5fc2adff176817ae914f940f'),
 ObjectId('5fc2adff176817ae914f9410'),
 ObjectId('5fc2adff176817ae914f9411'),
 ObjectId('5fc2adff176817ae914f9412'),
 ObjectId('5fc2adff176817ae914f9413'),
 ObjectId('5fc2adff176817ae914f9414'),
 ObjectId('5fc2adff176817ae914f9415'),
 ObjectId('5fc2adff176817ae914f9416'),
 ObjectId('5fc2adff176817ae914f9417'),
 ObjectId('5fc2adff176817ae914f9418'),
 ObjectId('5fc2adff176817ae914f9419'),
 ObjectId('5fc2adff176817ae914f941a'),
 ObjectId('5fc2adff176817ae914f941b'),
 ObjectId('5fc2adff176817ae914f941c'),
 ObjectId('5fc2adff176817ae914f941d'),
 ObjectId('5fc2adff176817ae914f941e'),
 ObjectId('5fc2adff176817ae914f941f'),
 ObjectId('5fc2adff176817ae914f9420'),
 ObjectId('5fc2adff176817ae914f9421'),
 ObjectId('5fc2adff176817ae914f9422'),
 ObjectId('5fc2adff176817ae914f9423'),
 ObjectId('5fc2adff176817ae914f9424'),
 ObjectId('5fc2adff176817ae914f9425'),
 ObjectId('5fc2adff176817ae914f9426'),
 ObjectId('5fc2adff176817ae914f9427'),
 ObjectId('5fc2adff176817ae914f9428'),
 ObjectId('5fc2adff176817ae914f9429'),
 ObjectId('5fc2adff176817ae914f942a')]