In [1]:
import pandas as pd
import os
import pycountry
import pymongo

In [2]:
# load education data
path = "../Cleaned Data/adult_education_level.csv"
education_df = pd.read_csv(path)
education_df.head()

   Unnamed: 0   LOCATION  SUBJECT  TIME      Value
0           0  Australia  BUPPSRY  2000  41.212311
1           1  Australia  BUPPSRY  2001  41.076141
2           2  Australia  BUPPSRY  2002  39.050316
3           3  Australia  BUPPSRY  2003  37.519817
4           4  Australia  BUPPSRY  2004  35.879036

In [3]:
# load weather data
path = "../Cleaned Data/global_weather_data.csv"
weather_df = pd.read_csv(path)
weather_df.head()

,Unnamed: 0,Country,Lat,Lon,Temperature,"""Feels Like""",Precipitaion,Cloudiness,Visiblity,Wind Speed,Local Time
0,0,Aruba,12.517,-70.033,79,84,0.0,25,6,11,11/16/2020 21:22
1,1,Afghanistan,34.517,69.183,30,28,0.0,0,4,2,11/17/2020 5:52
2,2,Angola,-8.838,13.234,77,81,0.0,50,6,8,11/17/2020 2:22
3,3,Anguilla,18.217,-63.050,79,82,0.0,50,6,11,11/16/2020 21:22
4,4,United States,25.784,-80.134,79,81,0.0,25,10,6,11/16/2020 20:22

In [4]:
# load population density and english speaking data
path = "../Cleaned Data/population_density_and_english_speaking.csv"
population_english_data_df = pd.read_csv(path)
population_english_data_df.head()

,Unnamed: 0,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers,Land_Area,Population_Density
0,0,United States,296603003,283160411,0.954678,9161923.0,32.373444
1,1,India,1028737436,125344737,0.121843,2973190.0,346.004607
2,2,Pakistan,188400100,108036049,0.573439,778720.0,241.935612
3,3,Nigeria,156493000,79000000,0.504815,910768.0,171.825317
4,4,Philippines,110000000,64025890,0.582054,298170.0,368.917061

In [5]:
# PISA data
path = "../Cleaned Data/PISA.csv"
pisa_df = pd.read_csv(path)
pisa_df.head()

   Unnamed: 0 country_name country_code       score
0           0      Albania          ALB  419.792538
1           1    Argentina          ARG  395.009457
2           2    Australia          AUS  498.985437
3           3      Austria          AUT  491.038441
4           4      Belarus          BLR  472.305757

In [6]:
# World Happiness report data
path = "../Cleaned Data/WHR20.csv"
happiness_index_df = pd.read_csv(path)
happiness_index_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [10]:
# creating mongo connection
client = pymongo.MongoClient("mongodb://DVGroup3:sealab2021@cluster0-shard-00-00.g3kws.mongodb.net:27017,cluster0-shard-00-01.g3kws.mongodb.net:27017,cluster0-shard-00-02.g3kws.mongodb.net:27017/happiness?ssl=true&replicaSet=atlas-183d98-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [ ]:
# load data into mongo