In [11]:
import pandas as pd
import os
import pycountry
import pymongo

In [12]:
# load weather data
path = "../Cleaned Data/global_weather_data.csv"
weather_df = pd.read_csv(path)
weather_df = weather_df.drop(columns="Unnamed: 0")
weather_df.head()

,Country,Lat,Lon,Temperature,"""Feels Like""",Precipitaion,Cloudiness,Visiblity,Wind Speed,Local Time
0,Aruba,12.517,-70.033,79,84,0.0,25,6,11,11/16/2020 21:22
1,Afghanistan,34.517,69.183,30,28,0.0,0,4,2,11/17/2020 5:52
2,Angola,-8.838,13.234,77,81,0.0,50,6,8,11/17/2020 2:22
3,Anguilla,18.217,-63.050,79,82,0.0,50,6,11,11/16/2020 21:22
4,United States,25.784,-80.134,79,81,0.0,25,10,6,11/16/2020 20:22

In [13]:
# load population density and english speaking data
path = "../Cleaned Data/population_density_and_english_speaking.csv"
population_english_data_df = pd.read_csv(path)
population_english_data_df = population_english_data_df.drop(columns="Unnamed: 0")
population_english_data_df = population_english_data_df.dropna()
population_english_data_df.head()

,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers,Land_Area,Population_Density
0,United States,296603003,283160411,0.954678,9161923.0,32.373444
1,India,1028737436,125344737,0.121843,2973190.0,346.004607
2,Pakistan,188400100,108036049,0.573439,778720.0,241.935612
3,Nigeria,156493000,79000000,0.504815,910768.0,171.825317
4,Philippines,110000000,64025890,0.582054,298170.0,368.917061

In [14]:
# PISA data
path = "../Cleaned Data/PISA.csv"
pisa_df = pd.read_csv(path)
pisa_df = pisa_df.drop(columns="Unnamed: 0")
pisa_df.head()

     Country country_code       score
0    Albania          ALB  419.792538
1  Argentina          ARG  395.009457
2  Australia          AUS  498.985437
3    Austria          AUT  491.038441
4    Belarus          BLR  472.305757

In [15]:
# World Happiness report data
path = "../Cleaned Data/Happiness_index_lat_longs.csv"
happiness_index_df = pd.read_csv(path)
happiness_index_df = happiness_index_df.drop(columns=["Standard error of ladder score","upperwhisker","lowerwhisker","Ladder score in Dystopia","Explained by: Log GDP per capita","Explained by: Social support","Explained by: Healthy life expectancy","Explained by: Freedom to make life choices","Explained by: Generosity","Explained by: Perceptions of corruption","Explained by: Perceptions of corruption"])
happiness_index_df = happiness_index_df.dropna()
happiness_index_df.head()

,Country,Latitude,Longitude,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
0,Finland,61.924110,25.748151,Western Europe,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,2.762835
1,Denmark,56.263920,9.501785,Western Europe,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2.432741
2,Switzerland,46.818188,8.227512,Western Europe,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2.350267
3,Iceland,64.963051,-19.020835,Western Europe,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2.460688
4,Norway,60.472024,8.468946,Western Europe,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2.168266

In [16]:
# Hours worked data
path = "../Cleaned Data/Standard workweek.csv"
work_hours_df = pd.read_csv(path)
work_hours_df["Amount"] = work_hours_df["Amount"].str.extract('(\d+)', expand=False)
work_hours_df["Amount"] = work_hours_df["Amount"].astype(int)
work_hours_df = work_hours_df.rename(columns={"Amount":"Hours"})
work_hours_df.head()

                    Country  Hours  Date
0                Seychelles     55  2014
1  Central African Republic     52  2014
2                     Kenya     52  2014
3               Switzerland     50  2014
4                  Ethiopia     48  2014

In [17]:
# creating mongo connection
client = pymongo.MongoClient("mongodb://DVGroup3:sealab2021@cluster0-shard-00-00.g3kws.mongodb.net:27017,cluster0-shard-00-01.g3kws.mongodb.net:27017,cluster0-shard-00-02.g3kws.mongodb.net:27017/happiness?ssl=true&replicaSet=atlas-183d98-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.happiness

In [18]:
# finalize table names here to be loaded into mongo
weather = weather_df.copy().to_dict(orient="records")
population_english = population_english_data_df.copy().to_dict(orient="records")
pisa = pisa_df.copy().to_dict(orient="records")
happiness = happiness_index_df.copy().to_dict(orient="records")
work = work_hours_df.copy().to_dict(orient="records")

In [19]:
# load tables into mongo
db.weather.insert(weather)
db.population_english.insert(population_english)
db.pisa.insert(pisa)
db.happiness.insert(happiness)
db.work.insert(work)

C:\Users\rdgg3\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

C:\Users\rdgg3\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\rdgg3\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.
C:\Users\rdgg3\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """
C:\Users\rdgg3\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

[ObjectId('5fc278592afb0801a1fe84b8'),
 ObjectId('5fc278592afb0801a1fe84b9'),
 ObjectId('5fc278592afb0801a1fe84ba'),
 ObjectId('5fc278592afb0801a1fe84bb'),
 ObjectId('5fc278592afb0801a1fe84bc'),
 ObjectId('5fc278592afb0801a1fe84bd'),
 ObjectId('5fc278592afb0801a1fe84be'),
 ObjectId('5fc278592afb0801a1fe84bf'),
 ObjectId('5fc278592afb0801a1fe84c0'),
 ObjectId('5fc278592afb0801a1fe84c1'),
 ObjectId('5fc278592afb0801a1fe84c2'),
 ObjectId('5fc278592afb0801a1fe84c3'),
 ObjectId('5fc278592afb0801a1fe84c4'),
 ObjectId('5fc278592afb0801a1fe84c5'),
 ObjectId('5fc278592afb0801a1fe84c6'),
 ObjectId('5fc278592afb0801a1fe84c7'),
 ObjectId('5fc278592afb0801a1fe84c8'),
 ObjectId('5fc278592afb0801a1fe84c9'),
 ObjectId('5fc278592afb0801a1fe84ca'),
 ObjectId('5fc278592afb0801a1fe84cb'),
 ObjectId('5fc278592afb0801a1fe84cc'),
 ObjectId('5fc278592afb0801a1fe84cd'),
 ObjectId('5fc278592afb0801a1fe84ce'),
 ObjectId('5fc278592afb0801a1fe84cf'),
 ObjectId('5fc278592afb0801a1fe84d0'),
 ObjectId('5fc278592afb0801a1fe84d1'),
 ObjectId('5fc278592afb0801a1fe84d2'),
 ObjectId('5fc278592afb0801a1fe84d3'),
 ObjectId('5fc278592afb0801a1fe84d4'),
 ObjectId('5fc278592afb0801a1fe84d5'),
 ObjectId('5fc278592afb0801a1fe84d6'),
 ObjectId('5fc278592afb0801a1fe84d7'),
 ObjectId('5fc278592afb0801a1fe84d8'),
 ObjectId('5fc278592afb0801a1fe84d9'),
 ObjectId('5fc278592afb0801a1fe84da'),
 ObjectId('5fc278592afb0801a1fe84db'),
 ObjectId('5fc278592afb0801a1fe84dc'),
 ObjectId('5fc278592afb0801a1fe84dd'),
 ObjectId('5fc278592afb0801a1fe84de'),
 ObjectId('5fc278592afb0801a1fe84df'),
 ObjectId('5fc278592afb0801a1fe84e0'),
 ObjectId('5fc278592afb0801a1fe84e1'),
 ObjectId('5fc278592afb0801a1fe84e2'),
 ObjectId('5fc278592afb0801a1fe84e3'),
 ObjectId('5fc278592afb0801a1fe84e4'),
 ObjectId('5fc278592afb0801a1fe84e5'),
 ObjectId('5fc278592afb0801a1fe84e6'),
 ObjectId('5fc278592afb0801a1fe84e7'),
 ObjectId('5fc278592afb0801a1fe84e8'),
 ObjectId('5fc278592afb0801a1fe84e9'),
 ObjectId('5fc278592afb0801a1fe84ea'),
 ObjectId('5fc278592afb0801a1fe84eb'),
 ObjectId('5fc278592afb0801a1fe84ec'),
 ObjectId('5fc278592afb0801a1fe84ed'),
 ObjectId('5fc278592afb0801a1fe84ee'),
 ObjectId('5fc278592afb0801a1fe84ef'),
 ObjectId('5fc278592afb0801a1fe84f0'),
 ObjectId('5fc278592afb0801a1fe84f1'),
 ObjectId('5fc278592afb0801a1fe84f2'),
 ObjectId('5fc278592afb0801a1fe84f3'),
 ObjectId('5fc278592afb0801a1fe84f4'),
 ObjectId('5fc278592afb0801a1fe84f5'),
 ObjectId('5fc278592afb0801a1fe84f6'),
 ObjectId('5fc278592afb0801a1fe84f7'),
 ObjectId('5fc278592afb0801a1fe84f8'),
 ObjectId('5fc278592afb0801a1fe84f9'),
 ObjectId('5fc278592afb0801a1fe84fa'),
 ObjectId('5fc278592afb0801a1fe84fb'),
 ObjectId('5fc278592afb0801a1fe84fc'),
 ObjectId('5fc278592afb0801a1fe84fd'),
 ObjectId('5fc278592afb0801a1fe84fe'),
 ObjectId('5fc278592afb0801a1fe84ff'),
 ObjectId('5fc278592afb0801a1fe8500'),
 ObjectId('5fc278592afb0801a1fe8501'),
 ObjectId('5fc278592afb0801a1fe8502'),
 ObjectId('5fc278592afb0801a1fe8503'),
 ObjectId('5fc278592afb0801a1fe8504'),
 ObjectId('5fc278592afb0801a1fe8505'),
 ObjectId('5fc278592afb0801a1fe8506'),
 ObjectId('5fc278592afb0801a1fe8507'),
 ObjectId('5fc278592afb0801a1fe8508'),
 ObjectId('5fc278592afb0801a1fe8509'),
 ObjectId('5fc278592afb0801a1fe850a'),
 ObjectId('5fc278592afb0801a1fe850b'),
 ObjectId('5fc278592afb0801a1fe850c'),
 ObjectId('5fc278592afb0801a1fe850d'),
 ObjectId('5fc278592afb0801a1fe850e'),
 ObjectId('5fc278592afb0801a1fe850f'),
 ObjectId('5fc278592afb0801a1fe8510'),
 ObjectId('5fc278592afb0801a1fe8511'),
 ObjectId('5fc278592afb0801a1fe8512'),
 ObjectId('5fc278592afb0801a1fe8513'),
 ObjectId('5fc278592afb0801a1fe8514'),
 ObjectId('5fc278592afb0801a1fe8515'),
 ObjectId('5fc278592afb0801a1fe8516'),
 ObjectId('5fc278592afb0801a1fe8517'),
 ObjectId('5fc278592afb0801a1fe8518'),
 ObjectId('5fc278592afb0801a1fe8519'),
 ObjectId('5fc278592afb0801a1fe851a'),
 ObjectId('5fc278592afb0801a1fe851b'),
 ObjectId('5fc278592afb0801a1fe851c'),
 ObjectId('5fc278592afb0801a1fe851d'),
 ObjectId('5fc278592afb0801a1fe851e'),
 ObjectId('5fc278592afb0801a1fe851f'),
 ObjectId('5fc278592afb0801a1fe8520'),
 ObjectId('5fc278592afb0801a1fe8521'),
 ObjectId('5fc278592afb0801a1fe8522'),
 ObjectId('5fc278592afb0801a1fe8523'),
 ObjectId('5fc278592afb0801a1fe8524'),
 ObjectId('5fc278592afb0801a1fe8525'),
 ObjectId('5fc278592afb0801a1fe8526'),
 ObjectId('5fc278592afb0801a1fe8527'),
 ObjectId('5fc278592afb0801a1fe8528'),
 ObjectId('5fc278592afb0801a1fe8529'),
 ObjectId('5fc278592afb0801a1fe852a'),
 ObjectId('5fc278592afb0801a1fe852b'),
 ObjectId('5fc278592afb0801a1fe852c'),
 ObjectId('5fc278592afb0801a1fe852d'),
 ObjectId('5fc278592afb0801a1fe852e'),
 ObjectId('5fc278592afb0801a1fe852f'),
 ObjectId('5fc278592afb0801a1fe8530'),
 ObjectId('5fc278592afb0801a1fe8531'),
 ObjectId('5fc278592afb0801a1fe8532'),
 ObjectId('5fc278592afb0801a1fe8533'),
 ObjectId('5fc278592afb0801a1fe8534'),
 ObjectId('5fc278592afb0801a1fe8535'),
 ObjectId('5fc278592afb0801a1fe8536'),
 ObjectId('5fc278592afb0801a1fe8537'),
 ObjectId('5fc278592afb0801a1fe8538'),
 ObjectId('5fc278592afb0801a1fe8539'),
 ObjectId('5fc278592afb0801a1fe853a'),
 ObjectId('5fc278592afb0801a1fe853b'),
 ObjectId('5fc278592afb0801a1fe853c'),
 ObjectId('5fc278592afb0801a1fe853d'),
 ObjectId('5fc278592afb0801a1fe853e'),
 ObjectId('5fc278592afb0801a1fe853f'),
 ObjectId('5fc278592afb0801a1fe8540'),
 ObjectId('5fc278592afb0801a1fe8541'),
 ObjectId('5fc278592afb0801a1fe8542'),
 ObjectId('5fc278592afb0801a1fe8543'),
 ObjectId('5fc278592afb0801a1fe8544'),
 ObjectId('5fc278592afb0801a1fe8545'),
 ObjectId('5fc278592afb0801a1fe8546'),
 ObjectId('5fc278592afb0801a1fe8547'),
 ObjectId('5fc278592afb0801a1fe8548'),
 ObjectId('5fc278592afb0801a1fe8549'),
 ObjectId('5fc278592afb0801a1fe854a'),
 ObjectId('5fc278592afb0801a1fe854b'),
 ObjectId('5fc278592afb0801a1fe854c'),
 ObjectId('5fc278592afb0801a1fe854d'),
 ObjectId('5fc278592afb0801a1fe854e'),
 ObjectId('5fc278592afb0801a1fe854f'),
 ObjectId('5fc278592afb0801a1fe8550'),
 ObjectId('5fc278592afb0801a1fe8551'),
 ObjectId('5fc278592afb0801a1fe8552'),
 ObjectId('5fc278592afb0801a1fe8553'),
 ObjectId('5fc278592afb0801a1fe8554'),
 ObjectId('5fc278592afb0801a1fe8555'),
 ObjectId('5fc278592afb0801a1fe8556'),
 ObjectId('5fc278592afb0801a1fe8557'),
 ObjectId('5fc278592afb0801a1fe8558'),
 ObjectId('5fc278592afb0801a1fe8559'),
 ObjectId('5fc278592afb0801a1fe855a'),
 ObjectId('5fc278592afb0801a1fe855b'),
 ObjectId('5fc278592afb0801a1fe855c'),
 ObjectId('5fc278592afb0801a1fe855d'),
 ObjectId('5fc278592afb0801a1fe855e'),
 ObjectId('5fc278592afb0801a1fe855f'),
 ObjectId('5fc278592afb0801a1fe8560'),
 ObjectId('5fc278592afb0801a1fe8561'),
 ObjectId('5fc278592afb0801a1fe8562'),
 ObjectId('5fc278592afb0801a1fe8563'),
 ObjectId('5fc278592afb0801a1fe8564'),
 ObjectId('5fc278592afb0801a1fe8565'),
 ObjectId('5fc278592afb0801a1fe8566'),
 ObjectId('5fc278592afb0801a1fe8567'),
 ObjectId('5fc278592afb0801a1fe8568'),
 ObjectId('5fc278592afb0801a1fe8569'),
 ObjectId('5fc278592afb0801a1fe856a'),
 ObjectId('5fc278592afb0801a1fe856b'),
 ObjectId('5fc278592afb0801a1fe856c'),
 ObjectId('5fc278592afb0801a1fe856d'),
 ObjectId('5fc278592afb0801a1fe856e')]