In [1]:
import pandas as pd
import os

In [3]:
# load education data
path = "../Cleaned Data/adult_education_level.csv"
education_df = pd.read_csv(path)
education_df.head()

   Unnamed: 0 LOCATION  SUBJECT  TIME      Value
0           0      AUS  BUPPSRY  2000  41.212311
1           1      AUS  BUPPSRY  2001  41.076141
2           2      AUS  BUPPSRY  2002  39.050316
3           3      AUS  BUPPSRY  2003  37.519817
4           4      AUS  BUPPSRY  2004  35.879036

In [5]:
# load weather data
path = "../Cleaned Data/global_weather_data.csv"
weather_df = pd.read_csv(path)
weather_df.head()

,Unnamed: 0,Country,Lat,Lon,Temperature,"""Feels Like""",Precipitaion,Cloudiness,Visiblity,Wind Speed,Local Time
0,0,Aruba,12.517,-70.033,79,84,0.0,25,6,11,2020-11-16 21:22
1,1,Afghanistan,34.517,69.183,30,28,0.0,0,4,2,2020-11-17 05:52
2,2,Angola,-8.838,13.234,77,81,0.0,50,6,8,2020-11-17 02:22
3,3,Anguilla,18.217,-63.050,79,82,0.0,50,6,11,2020-11-16 21:22
4,4,USA United States of America,25.784,-80.134,79,81,0.0,25,10,6,2020-11-16 20:22

In [6]:
# load population density and english speaking data
path = "../Cleaned Data/population_density_and_english_speaking.csv"
population_english_data_df = pd.read_csv(path)
population_english_data_df.head()

,Unnamed: 0,Country,Eligible_Population,Total_English_Speakers,Percent_English_Speakers,Land_Area,Population_Density
0,0,United States,2.966030e+08,283160411.0,0.954678,9161923.0,32.373444
1,1,India,1.028737e+09,125344737.0,0.121843,2973190.0,346.004607
2,2,Pakistan,1.884001e+08,108036049.0,0.573439,778720.0,241.935612
3,3,Nigeria,1.564930e+08,79000000.0,0.504815,910768.0,171.825317
4,4,Philippines,1.100000e+08,64025890.0,0.582054,298170.0,368.917061